# Игнорирование файлов среды
venv/
.env

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
logs/
*.log
*.tmp

# Настройки редакторов
.idea/
.vscode/

# Бинарные файлы
*.exe
*.dll
*.so
*.dylib

# Артефакты сборки
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Docker и виртуальные машины
docker-compose.override.yml
.DS_Store
